.nav__desktop {
  padding: 1rem 0.5rem;
  display: none;
}

.nav__wrapper {
  width: 95%;
  margin: auto;
}

.nav__icons-list {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.nav__icons {
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-red);
  border-radius: 2rem;
  display: grid;
  place-items: center;
  font-size: var(--size-2xl);
  cursor: pointer;
  transition: transform 0.3s;
}

.nav__icons a {
  color: var(--clr-light);
}

.nav__icons:hover {
  transform: scale(1.1);
}

@media (min-width: 800px) {
  .nav__desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .nav__icons-list {
    justify-content: space-around;
  }

  .nav__icons {
    width: 4rem;
    height: 4rem;
  }
}