footer {
    background-color: var(--clr-blue);
    padding: 1rem 0;
}

.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer a{
    color: var(--clr-light);
}

.footer__trademark {
    padding: 0 1rem;
    flex-grow: 1;
    font-size: var(--size-xl);
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: var(--clr-light);
}

.footer__icons-wrapper {
    cursor: pointer;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--size-2xl);
}

.footer__icons:hover {
    transform: scale(1.1);
}

@media (min-width: 475px) {
    .footer {
        flex-wrap: nowrap;
    }

    .footer__trademark {
        font-size: var(--size-2xl);
        margin-bottom: 0;
    }    

    .footer__icons-wrapper {
        width: 25%;
    }
}

@media (min-width: 640px) {
    .footer__trademark {
        font-size: var(--size-3xl);
    }    

    .footer__icons-wrapper {
        font-size: var(--size-3xl);
    }
}

@media (min-width: 1024px) {
    .footer__trademark {
        font-size: var(--size-4xl);
    }    

    .footer__icons-wrapper {
        width: 20%;
        font-size: var(--size-4xl);
    }
}
