.nav__mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green;
  z-index: 999;
  width: 98vw;
  height: 100vh;
  padding: 4rem 0.5rem 0;
  background-color: var(--clr-purple);
}

.mobile-nav__wrapper {
  margin-top: 1.5rem;
  display: grid;
  place-items: center;
}

.mobile-nav__icons-list {
  width: 90%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.mobile-nav__icons {
  background-color: rgba(192, 38, 38, 0.9);
  border-radius: 10px;
  padding: 1rem;
  font-size: var(--size-xl);
  cursor: pointer;
  transition: transform 0.3s;
  color: var(--clr-light);
}

.mobile-nav__icons:hover {
  transform: scale(1.05);
}

.mobile-contact {
  font-weight: 500;
  margin-top: 1rem;
  background-color: rgba(192, 38, 38, 0.9);
  border: 2px solid var(--clr-dark);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: transform 0.3s;
}

.mobile-contact a {
  color: var(--clr-light);
}

@media (min-width: 800px) {
  .nav__mobile {
    display: none;
  }
}
